<%- include('includes/head.ejs') %>
</head>

<body>


    <div class="main-content"><%- include('includes/navigation.ejs') %>
    </div>

    <footer>
        <p>Created by <%= name %></p>
    </footer>
    <%- include('includes/end.ejs') %>