<%- include('includes/head.ejs') %>
</head>

<body>

    <div class="main-content"><%- include('includes/navigation.ejs') %>
        <p>This site created by Sarvarbek Yuldashev.It uses darksky.net and mapbox.com</p>
        <img class="portrait" src="/image/profile-pic.jpg" alt="">
    </div>

    <footer>
        <p>Created by <%= name %></p>
    </footer>
    <%- include('includes/end.ejs') %>