<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="main-content"><%- include('includes/navigation.ejs') %>
        <p>Use this site get your weather</p>
    </div>
    <footer>
        <p><%= helpText %></p>
    </footer>

    <%- include('includes/end.ejs') %>