<%- include('includes/head.ejs') %>
</head>

<body>

    <div class="main-content"><%- include('includes/navigation.ejs') %>
        <p>Use this site get your weather</p>
        <form action="">
            <input type="text" name="" id="" placeholder="Location">
            <button type="submit">Search</button>
        </form>
        <p id="one-1"></p>
        <p id="two-2"></p>
    </div>
    <footer>
        <p>Created by <%= name %></p>
    </footer>
    <script src="/js/app.js"></script>
    <%- include('includes/end.ejs') %>